
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
	<uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
	<uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
	<uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
	<uses-permission android:name="android.permission.READ_BASIC_PHONE_STATE" />
	<uses-permission android:name="com.hypers.hm.manager.permission.API_V23" />
	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:name=".HypersApplication"
		android:requestLegacyExternalStorage="true"
		android:enableOnBackInvokedCallback="true"
		android:theme="@style/AppTheme"
		android:resizeableActivity="false">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="stateHidden"
			android:fitsSystemWindows="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".PluginsActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="stateHidden"
			android:fitsSystemWindows="true" />
		<activity
			android:name=".WebuiActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.Edge"
			android:windowSoftInputMode="stateHidden"
			android:fitsSystemWindows="false"
			android:clipToPadding="false" />
		<activity
			android:name=".SetpackageActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="stateHidden"
			android:fitsSystemWindows="true"
			android:enableOnBackInvokedCallback="false" />
		<activity
			android:name=".RuncmdActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="stateHidden"
			android:fitsSystemWindows="true" />
		<activity
			android:name=".CmdpluginsActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="stateHidden"
			android:fitsSystemWindows="true" />
		<activity
			android:name=".ListeditActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="stateHidden"
			android:fitsSystemWindows="true" />
		<activity
			android:name=".EditActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.EdgeTransparent"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".PrivacypluginsActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="stateHidden"
			android:fitsSystemWindows="true" />
		<activity
			android:name=".CmdexecActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".AddedActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.EdgeTransparent"
			android:windowSoftInputMode="stateHidden"
			android:fitsSystemWindows="false"
			android:clipToPadding="false" />
		<activity
			android:name=".TaskActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.EdgeTransparent"
			android:windowSoftInputMode="stateHidden"
			android:fitsSystemWindows="false"
			android:clipToPadding="false" />
		<activity
			android:name=".HypersmodeActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="landscape"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".AdbpairActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".AdbcommandActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".StarterActivityActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:windowSoftInputMode="stateHidden" />
		<activity
			android:name=".DebugActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:windowSoftInputMode="stateHidden" />
		<service
			android:name="androidx.room.MultiInstanceInvalidationService"
			android:directBootAware="true"
			android:exported="false" />
		<provider
			android:name="androidx.startup.InitializationProvider"
			android:authorities="com.hypers.hm.androidx-startup"
			android:exported="false">
			<meta-data
				android:name="androidx.lifecycle.ProcessLifecycleInitializer"
				android:value="androidx.startup" />
			<meta-data
				android:name="androidx.emoji2.text.EmojiCompatInitializer"
				android:value="androidx.startup" />
		</provider>
		<provider
			android:name="rikka.shizuku.ShizukuProvider"
			android:authorities="com.hypers.hm.shizuku"
			android:multiprocess="false"
			android:enabled="true"
			android:exported="true"
			android:permission="android.permission.INTERACT_ACROSS_USERS_FULL">
			<meta-data
				android:name="moe.shizuku.client.V3_SUPPORT"
				android:value="true" />
		</provider>

        <provider
            android:name=".HypersProvider"
            android:authorities="com.hypers.hm.hypers.provider"
            android:exported="true"
            android:multiprocess="false" />

        <provider
            android:name=".HypersManagerProvider"
            android:authorities="com.hypers.hm.hypers"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <meta-data
            android:name="com.hypers.hm.client.V3_SUPPORT"
            android:value="true" />

<receiver
    android:name=".receiver.HypersReceiver"
    android:directBootAware="true"
    android:enabled="true"
    android:exported="true">
    <intent-filter>
        <action android:name="hypers.manager.hm.intent.action.REQUEST_BINDER" />
    </intent-filter>
</receiver>

<receiver
    android:name=".receiver.BootCompleteReceiver"
    android:directBootAware="true"
    android:enabled="true"
    android:exported="true">
    <intent-filter>
        <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
    </intent-filter>
</receiver>

<receiver
    android:name="com.hypers.hm.bridge.HypersBridgeReceiver"
    android:exported="false">
    <intent-filter>
        <action android:name="com.hypers.hm.action.START_PAIRING" />
        <action android:name="com.hypers.hm.action.START_ROOT" />
        <action android:name="com.hypers.hm.action.START_ADB" />
        <action android:name="com.hypers.hm.action.START_COMPUTER" />
        <action android:name="com.hypers.hm.action.STOP_SERVICE" />
    </intent-filter>
</receiver>

<receiver
    android:name=".broadcast.ShellReceiver"
    android:enabled="true"
    android:exported="true">
    <intent-filter>
        <action android:name="com.hypers.hm.SHOW_TOAST" />
    </intent-filter>
</receiver>

<receiver
    android:name=".broadcast.NotifyReceiver"
    android:exported="true">
    <intent-filter>
        <action android:name="com.hypers.hm.broadcast.PHANTOM_NOTIFY" />
        <category android:name="android.intent.category.DEFAULT" />
    </intent-filter>
</receiver>

<receiver
    android:name=".broadcast.ResetReceiver"
    android:exported="true">
    <intent-filter>
        <action android:name="STOP_SERVICE" />
        <action android:name="SET_DPI_ACTION" />
        <action android:name="RESET_DPI_ACTION" />
    </intent-filter>
</receiver>

<receiver
    android:name=".service.BootReceiver"
    android:enabled="true"
    android:exported="true">
    <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
    </intent-filter>
</receiver>

<receiver android:name=".service.StopBoosterReceiver" />

<activity
    android:name=".TerminalActivity"
    android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
    android:hardwareAccelerated="true"
    android:supportsPictureInPicture="true"
    android:windowSoftInputMode="stateHidden" />

<activity
    android:name=".StarterActivity"
    android:label="@string/starter" />

<activity
    android:name=".authorization.RequestPermissionActivity"
    android:directBootAware="true"
    android:excludeFromRecents="true"
    android:exported="true"
    android:permission="android.permission.INTERACT_ACROSS_USERS_FULL"
    android:theme="@style/AppTheme">
    <intent-filter>
        <action android:name="com.hypers.hm.intent.action.REQUEST_PERMISSION" />
        <category android:name="android.intent.category.DEFAULT" />
    </intent-filter>
</activity>

<service
    android:name=".service.ProBoosterService"
    android:exported="false"
    android:foregroundServiceType="mediaPlayback" />

<service
    android:name=".service.NetworkBoosterService"
    android:exported="false"
    android:foregroundServiceType="mediaPlayback|dataSync" />

<service
    android:name=".service.CrosshairService"
    android:exported="false"
    android:foregroundServiceType="specialUse" />

<service
    android:name=".service.GyroService"
    android:exported="false"
    android:foregroundServiceType="specialUse" />

<service
    android:name=".service.DpiServiceUtils"
    android:enabled="true"
    android:exported="false"
    android:foregroundServiceType="specialUse" />

<service
    android:name=".service.FloatingService"
    android:exported="false"
    android:foregroundServiceType="specialUse" />

<service
    android:name=".service.HypersPairService"
    android:enabled="true"
    android:exported="false"
    android:foregroundServiceType="connectedDevice" />

<service 
    android:name="com.hypers.hm.adb.AdbPairingService"
		tools:node="replace"
    android:enabled="true"
    android:exported="false"
    android:foregroundServiceType="connectedDevice" />

	</application>
</manifest>
